
@model CS481.Models.ForumPost

@using System.Collections.Generic
@{
    ViewBag.Title = "Details";
}
<body>
    <div>
        @{
            Html.RenderPartial("_ForumComments", new List<CS481.Models.ForumComment>());
        }
        @*Html.RenderPartial("_ForumComments", new List<CS481.Models.ForumComment>());*@
    </div>
</body>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
