
@model CS481.Models.ForumPost

@using System.Collections.Generic
@{
    ViewBag.Title = "Details";
}
<div>
    @{
        Html.RenderPartial("_ForumComments", new List<CS481.Models.ForumComment>());
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
